:host {
  width: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.user-link {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 16px;
  }
}

app-buttons {
  margin-left: auto;
}

.mat-card {
  margin: 16px;
  flex: 1 1 0;
  min-width: 0;
}

.scrobble-header {
  margin: 16px;
}

.mat-card-subtitle {
  margin: 16px 0 0 0 !important;
}

.conf-row {
  display: flex;
  align-items: center;
  margin-top: 8px;

  .auto-update {
    margin: 0 8px 0 16px;
    display: flex;
    align-self: stretch;
    align-items: center;
  }

  .hide {
    display: none;
  }
}

.mat-tab-group {
  width: 100%;
}


@media screen and (max-width: 768px) {
  .mat-card-header {
    flex-direction: column;
  }
}
