:host {
  width: 100%;
}

.spinner-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card {
  margin: 16px;
  flex: 1 1 0;
  min-width: 0;
}

.scrobble-header {
  margin: 16px;
}

.mat-card-subtitle {
  margin: 16px 0 0 0 !important;
}

.import-export {
  margin-left: -20px;
}

.date-range {
  display: flex;
  align-items: center;

  app-date-range {
    flex-grow: 1;
  }
}

.auto-update {
  display: flex;
  align-items: center;

  .hide {
    visibility: hidden;
  }
}

.mat-tab-group {
  width: 100%;
}
