<mat-card>
  <mat-card-header>
    <mat-card-title>Statistics for {{username | async}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="scrobble-header">
    <ng-container *ngIf="progress | async as p">
      <mat-card-subtitle>Progress</mat-card-subtitle>
      <app-progress [progress]="p"></app-progress>
      <mat-card-subtitle>Import/export json</mat-card-subtitle>
      <div class="import-export">
        <button mat-flat-button (click)="export()" matTooltip="Export stats as json"><mat-icon>file_download</mat-icon>Export</button>
        <button mat-flat-button (click)="uploadFile.click()" matTooltip="Import stats from json"><mat-icon>file_upload</mat-icon>Import</button>
        <input #uploadFile (change)="import($event)" type='file' style="display:none"/>
      </div>
      <mat-card-subtitle>Settings</mat-card-subtitle>
      <div *ngIf="p.first | async as f" class="date-range">
        Date range:<app-date-range [start]="f.date" (changed)="updateDateRange($event)"></app-date-range>
      </div>
      <div class="auto-update">
        Auto update:<mat-slide-toggle (change)="autoUpdate.next($event.checked)" [checked]="true" color="primary"></mat-slide-toggle>
        <button [class.hide]="autoUpdate | async" mat-flat-button (click)="rebuild()"><mat-icon>update</mat-icon>Update</button>
      </div>
      List size:<mat-slider min="1" max="100" [thumbLabel]="true" color="primary" value="10" (change)="updateListSize($event.value || 10)"></mat-slider>
    </ng-container>
  </mat-card-content>
</mat-card>

<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link [routerLink]="'/user/' + (username | async) + '/lists'" routerLinkActive #listsLink="routerLinkActive" [active]="listsLink.isActive">Lists</a>
  <a mat-tab-link [routerLink]="'/user/' + (username | async) + '/charts'" routerLinkActive #chartLink="routerLinkActive" [active]="chartLink.isActive">Charts</a>
</nav>
<router-outlet></router-outlet>
