.spinner-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card {
  margin: 16px;
  flex: 1 1 0;
  min-width: 0;
}

.scrobble-header {
  flex: 1 1 100%;
}
