:host {
  width: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.user-link {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 16px;
  }
}

.change-username {
  margin-left: auto;
  margin-right: 24px;
}

.mat-card {
  margin: 16px;
  flex: 1 1 0;
  min-width: 0;
}

.scrobble-header {
  margin: 16px;
}

.mat-card-subtitle {
  margin: 16px 0 0 0 !important;
}

.conf-row {
  display: flex;
  align-items: center;

  .auto-update {
    margin: 0 8px 0 16px;
  }

  .hide {
    display: none;
  }
}

.mat-tab-group {
  width: 100%;
}
