<mat-card class="scrobble-header">
  <mat-card-header>
    <mat-card-title>Statistics for {{username | async}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="progress | async as p">
      <mat-card-subtitle>Progress</mat-card-subtitle>
      <app-progress [progress]="p"></app-progress>
      <mat-card-subtitle>Import/export json</mat-card-subtitle>
      <button mat-flat-button (click)="export()" matTooltip="Export stats as json"><mat-icon>file_download</mat-icon>Export</button>
      <button mat-flat-button (click)="uploadFile.click()" matTooltip="Import stats from json"><mat-icon>file_upload</mat-icon>Import</button>
      <input #uploadFile (change)="import($event)" type='file' style="display:none"/>
      <ng-container *ngIf="p.first | async as f">
        <mat-card-subtitle>Date range</mat-card-subtitle>
        <app-date-range [start]="f.date" (changed)="updateDateRange($event)"></app-date-range>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link [routerLink]="'/user/' + (username | async) + '/lists'" routerLinkActive #listsLink="routerLinkActive" [active]="listsLink.isActive">Lists</a>
  <a mat-tab-link [routerLink]="'/user/' + (username | async) + '/charts'" routerLinkActive #chartLink="routerLinkActive" [active]="chartLink.isActive">Charts</a>
</nav>
<router-outlet></router-outlet>
