@use './app/home/home.component' as home;

@import './projects/shared/src/shared-styles';

@media (prefers-color-scheme: light) {
  @include home.color($light-app-theme);
}

@media (prefers-color-scheme: dark) {
  @include home.color($dark-app-theme);
}
