<div *ngIf="progress.state === 'RETRIEVING'">
  <div class="loading">Loading: {{currentPage}}/{{totalPages}} pages ({{this.percentage | number:'1.2-2'}}%) <mat-spinner [diameter]="24"></mat-spinner></div>
  <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
  <div>Total scrobbles: {{progress.total}}</div>
</div>
<div *ngIf="progress.first | async as f">First scrobble: {{f.date | date}} ({{f.artist}} - {{f.track}})</div>
<div *ngIf="progress.last | async as l">Last scrobble: {{l.date | date}} ({{l.artist}} - {{l.track}})</div>
<div *ngIf="progress.state === 'USERNOTFOUND'">Username not found</div>
