<div *ngFor="let c of charts" class="chart" [class.multiple]="!c.fullWidth">
  <mat-card>
    <mat-card-content>
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="c.options"
                        (chartInstance)="c.chart = $event"
                        style="width: 100%; display: block;"
      ></highcharts-chart>
    </mat-card-content>
  </mat-card>
</div>

<div id="race-chart-toolbar" class="toolbar">
  <div>
    <button class="play" mat-icon-button><mat-icon>play_arrow</mat-icon></button>
    <button class="rewind" mat-icon-button><mat-icon class="material-icons-outlined">fast_rewind</mat-icon></button>
    <span class="current">1s</span>
    <button class="forward" mat-icon-button><mat-icon class="material-icons-outlined">fast_forward</mat-icon></button>
  </div>
  <input type="range">
</div>

<div id="punchcard-toolbar" class="toolbar">
  <button class="prev" mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
  <span class="current">1s</span>
  <button class="next" mat-icon-button><mat-icon>arrow_forward_ios</mat-icon></button>
</div>

<div id="cumulative-scrobbles-toolbar" class="toolbar">
  <button class="toggle" [color]="'primary'" mat-icon-button matTooltip="Artists"><mat-icon>star</mat-icon></button>
  <button class="toggle" mat-icon-button matTooltip="Albums"><mat-icon>album</mat-icon></button>
  <button class="toggle" mat-icon-button matTooltip="Tracks"><mat-icon>audiotrack</mat-icon></button>
</div>
