<button mat-icon-button matTooltip="Home" [routerLink]="'/'">
  <mat-icon>home</mat-icon>
</button>
<a mat-icon-button matTooltip="Github" href="https://github.com/felhag/lastfm-stats-web" target="_blank">
  <mat-icon svgIcon="github"></mat-icon>
</a>
<a mat-icon-button matTooltip="Reddit" href="https://www.reddit.com/user/TonnyTorpedo" target="_blank">
  <mat-icon svgIcon="reddit"></mat-icon>
</a>
<a mat-icon-button matTooltip="Support me" href="https://ko-fi.com/felhag" target="_blank">
  <mat-icon svgIcon="ko-fi"></mat-icon>
</a>
