$font-size: 32px;

.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: $font-size;
  line-height: 48px;

  .home-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    &.mw {
      max-width: 320px;
    }

    .logo {
      flex: 0;
      margin-right: 24px;
    }

    .subtext {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .line {
    border-top: 1px solid #d9dadc;
    flex: 1;
  }

  app-buttons {
    align-self: flex-end;
  }
}

@media (max-width: 575px) {
  .home {
    padding: 16px 0;
    box-shadow: none;
    background: transparent;
  }
}

@media (max-width: 767px) {
  label {
    flex-direction: column;
  }
  .home .home-row {
    margin-bottom: 24px;
  }
}
