@use 'sass:map';
@use '@angular/material' as mat;

@import './projects/shared/src/shared-home';

.open-dialog-button {
  width: 100%;
  margin: 12px 0;
  cursor: pointer;
  color: #1DB954;
  text-decoration: underline;
  text-align: center;
}

.username-holder {
  font-size: 16px;
  width: 100%;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.custom-dropzone {
  flex-direction: column;
  justify-content: center;
  background: transparent;
  height: auto;
  min-height: 140px;
  min-width: 100%;
  color: inherit;
  border-color: #d9dadc;
  overflow-x: visible;
  line-height: initial;

  .mat-nav-list {
    min-width: 100%;
    max-height: 288px;
    overflow-y: auto;
    padding-top: 0;
  }
}

.deduplicated {
  font-size: 16px;
  line-height: 16px;
  margin-top: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
::ng-deep .custom-dropzone .mat-list-item-content {
  flex-direction: row-reverse !important;

  a {
    margin-right: 12px;
  }
}

ngx-dropzone-preview {
  min-width: 100%;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $warn-palette: map.get($color-config, 'warn');
  $warn-color: mat.get-color-from-palette($warn-palette, 500);
  .custom-dropzone.invalid {
    color: $warn-color !important;
    border-color: $warn-color !important;
  }
}
