<mat-card class="top10list">
  <mat-card-header>
    <mat-card-title>{{title}}
      <button mat-icon-button [style.visibility]="explanation ? 'visible' : 'hidden'">
        <mat-icon (click)="explain(explanation!)">info_outline</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let top10item of list; let idx = index" [title]="top10item.name">
        <mat-icon *ngIf="top10item.date" mat-list-icon [style.color]="getColor(top10item.date) | async">blur_on</mat-icon>
        <a *ngIf="top10item.url" mat-line [href]="top10item.url" target="_blank" class="regular-text">
          <span *ngIf="isNumbered">{{idx + 1}}.&nbsp;</span>{{top10item.name}}
        </a>
        <div *ngIf="!top10item.url" mat-line>{{top10item.name}}</div>
        <div mat-line class="item-description">{{top10item.description}}</div>
      </mat-list-item>
      <mat-list-item *ngIf="!list.length">No results</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
