@use 'sass:map';
@use '@angular/material' as mat;

@import './projects/shared/src/shared-home';

.home {
  .cm-logo {
    width: 104px;
    height: 80px;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 120px;
    }
  }

  .input-wrap {
    position: relative;

    .width-machine {
      visibility: hidden;
      display: inline-block;
      min-width: 150px;
    }

    .input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      outline: 0;
      border: 0;
      background: transparent;
      font-size: $font-size;
      font-family: inherit;
      color: inherit;
      padding: 0;
    }
  }

  .or {
    font-size: .75rem;
    letter-spacing: 1px;
    padding: 0 20px;
  }
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $warn-palette: map.get($color-config, 'warn');
  .home .input-wrap .input.invalid::placeholder {
    color: mat.get-color-from-palette($warn-palette, 500);
    opacity: 1;
  }

  .home-row.error {
    color: mat.get-color-from-palette($warn-palette, 500);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line;
  }
}
