h3 {
  margin: 0;
  color: #999;
}

.date-range {
  display: flex;
  align-items: center;

  app-date-range {
    flex-grow: 1;
  }
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-form-field {
    flex-grow: 1;
  }
}
