<div *ngIf="stats | async as s" class="container">
  <div class="row">
    <app-top10list [list]="s.betweenArtists" title="Gaps between artists" explanation="Largest time passed between two scrobbles of the same artist"></app-top10list>
    <app-top10list [list]="s.ongoingBetweenArtists" title="Ongoing gaps between artists" explanation="Largest time passed since last time you listened to an artist"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.weeksPerArtist" title="Weeks per artists" explanation="Unique weeks an artist has been scrobbled at least once"></app-top10list>
    <app-top10list [list]="s.tracksPerArtist" title="Tracks per artists" explanation="Different tracks per artist scrobbled"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.newArtistsPerMonth" title="New artists in a single month"></app-top10list>
    <app-top10list [list]="s.mostListenedNewArtist" title="Most listened new artist in a single month"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.uniqueArtists" title="Unique artists in a single month"></app-top10list>
    <app-top10list [list]="s.avgTrackPerArtist" title="Avg scrobbles per artist"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.oneHitWonders" title="One hit wonders" explanation="Most scrobbled artists with just one song scrobbled"></app-top10list>
    <app-top10list [list]="s.scrobblesPerTrack" title="Avg scrobbles per track" explanation="Average scrobbles per track for artists with at least 50 scrobbles and at least two tracks"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.avgScrobbleAsc" title="Golden oldies" explanation="Average scrobble date for artists with at least 50 scrobbles, sorted ascending"></app-top10list>
    <app-top10list [list]="s.avgScrobbleDesc" title="Latest discoveries" explanation="Average scrobble date for artists with at least 50 scrobbles, sorted descending"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.avgDelta" title="Average delta" explanation="Average time between two scrobbles for artists with at least 50 scrobbles, sorted descending"></app-top10list>
    <app-top10list [list]="s.latestNew" title="Latest new artist"></app-top10list>
  </div>
  <div class="row">
    <app-top10list [list]="s.artistStreak" title="Artist streaks" explanation="Streaks for playing the same artist in a row."></app-top10list>
  </div>
</div>
