<div *ngIf="stats | async as s" class="container">
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Gaps between artists', list: s.betweenArtists}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Ongoing gaps between artists', list: s.ongoingBetweenArtists}"></ng-container>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Weeks per artists', list: s.weeksPerArtist, explanation: 'Unique weeks an artist has been scrobbled at least once'}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Tracks per artists', list: s.tracksPerArtist, explanation: 'Different tracks per artist scrobbled'}"></ng-container>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'New artists in a single month', list: s.newArtistsPerMonth}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Most listened new artist in a single month', list: s.mostListenedNewArtist}"></ng-container>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Unique artists in a single month', list: s.uniqueArtists}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Avg scrobbles per artist', list: s.avgTrackPerArtist}"></ng-container>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'One hit wonders', list: s.oneHitWonders, explanation: 'Most scrobbled artists with just one song scrobbled'}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Avg scrobbles per track', list: s.scrobblesPerTrack, explanation: 'Average scrobbles per track for artists with at least 50 scrobbles'}"></ng-container>
  </div>
  <div class="row">
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Golden oldies', list: s.avgScrobbleAsc, explanation: 'Average scrobble date for artists with at least 50 scrobbles, sorted ascending'}"></ng-container>
    <ng-container *ngTemplateOutlet="top10list; context:{title:'Latest discoveries', list: s.avgScrobbleDesc, explanation: 'Average scrobble date for artists with at least 50 scrobbles, sorted descending'}"></ng-container>
  </div>

  <ng-template #top10list let-title="title" let-list="list" let-explanation="explanation">
    <mat-card class="top10list">
      <mat-card-header>
        <mat-card-title>{{title}}
          <button *ngIf="explanation" mat-icon-button>
            <mat-icon (click)="explain(explanation)">info_outline</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let top10item of list">
            <a *ngIf="top10item.url" mat-line [href]="top10item.url" target="_blank" class="regular-text">{{top10item.name}}</a>
            <div *ngIf="!top10item.url" mat-line>{{top10item.name}}</div>
            <div mat-line class="item-description">{{top10item.description}}</div>
          </mat-list-item>
          <mat-list-item *ngIf="!list.length">No results</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
