<mat-card class="home">
  <div class="home-row">
    <img src="assets/favicon-192.png" class="logo" height="80" width="80">
    <div> lastfmstats.com <div class="subtext">Enhanced statistics for last.fm</div></div>
  </div>
  <div class="line home-row mw"></div>

  <label class="home-row">
    <span>last.fm/user/</span>
    <span class="input-wrap">
      <span class="width-machine" aria-hidden="true" [innerHTML]="username">username</span>
      <input type="text" placeholder="username" class="input" autofocus (input)="update($event)" (keydown.enter)="go()" [class.invalid]="!(valid | async)">
    </span>
  </label>
  <div class="home-row">
    <button class="text-button" mat-stroked-button (click)="go()">
      🧙‍♂️ Let's go!
    </button>
  </div>
  <div class="home-row mw">
    <div class="line"></div>
    <div class="or">OR</div>
    <div class="line"></div>
  </div>
  <div class="home-row">
    <button mat-flat-button (click)="uploadFile.click()">
      📁   Import a file
    </button>
    <input #uploadFile (change)="import($event)" type='file' style="display:none"/>
  </div>

  <app-buttons [showHome]="false"></app-buttons>
</mat-card>
