name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
    - uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Install dependencies
      run: pnpm install

    - name: Build
      run: pnpm run deploy

    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: build-output
        path: dist/lastfm-stats/browser
